<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col width-100>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-100>
                <button ion-button full icon-left (click)="facebookLoginPressed()">
                    <ion-icon name="facebook"></ion-icon>
                    Log in with Facebook
                </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-100>
                <button ion-button full icon-left (click)="twitterLoginPressed()">
                    <ion-icon name="twitter"></ion-icon>
                    Log in with Twitter
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>