<ion-tabs>
  <ion-tab [root]="tab0Root" tabTitle="Dashboard" tabIcon="pie"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Events" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
</ion-tabs>