<ion-header>
  <ion-navbar>
    <ion-title>
      Add a Feeding
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onCloseBtnClicked()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSaveBtnClicked()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header color="light">
      Basic Details
    </ion-list-header>
    <ion-item>
      <ion-label>Child</ion-label>
      <ion-select [(ngModel)]="who">
        <ion-option *ngFor="let child of children" value="{{child.id}}">{{ child.fullname }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="type">
        <ion-option value="breastmilk">Breastmilk</ion-option>
        <ion-option value="formula">Formula</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>When</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY hh:mm A" [max]="maxDate" [(ngModel)]="dateOfOccurence"></ion-datetime>
    </ion-item>
    <ion-list-header color="light">
      Liquid Amount
      <p item-right *ngIf="liquidAmt" color="primary">{{ liquidAmt }} ml</p>
    </ion-list-header>
    <ion-item>
      <ion-range min="0" max="240" [(ngModel)]="liquidAmt" color="secondary">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>240 ml</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>