<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list no-lines>
    <ion-item *ngIf="this.user">
      <ion-thumbnail item-left>
        <ion-img *ngIf="this.user.social.facebook" full src="{{ this.user.social.facebook.data.profile_picture }}"></ion-img>
        <ion-img *ngIf="this.user.social.twitter" full src="{{ this.user.social.twitter.data.profile_picture }}"></ion-img>
      </ion-thumbnail>
      <h2 *ngIf="this.user.social.facebook">{{ this.user.social.facebook.data.full_name }}</h2>
      <h2 *ngIf="this.user.social.twitter">{{ this.user.social.twitter.data.full_name }}</h2>
      <p *ngIf="this.user.social.facebook">{{ this.user.social.facebook.data.email }}</p>
      <p *ngIf="this.user.social.twitter">{{ this.user.social.twitter.data.email }}</p>
    </ion-item>
    <ion-item>
      <button ion-button full (click)="onLogoutBtnClicked()">Logout</button>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="children" color="light">
    <ion-card-header color="primary">
      Children
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let child of children">
        {{ child.fullname }}
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>