<ion-header>
  <ion-navbar>
    <ion-title>
      Add a Diaper
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onCloseBtnClicked()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSaveBtnClicked()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header color="light">
      Basic Details
    </ion-list-header>
    <ion-item>
      <ion-label>Child</ion-label>
      <ion-select [(ngModel)]="who">
        <ion-option *ngFor="let child of children" value="{{child.id}}">{{ child.fullname }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Dirty or Wet</ion-label>
      <ion-select [(ngModel)]="diaperType">
        <ion-option value="dirty">Dirty</ion-option>
        <ion-option value="wet">Wet</ion-option>
        <ion-option value="both">Both</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>When</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY hh:mm A" [max]="maxDate" [(ngModel)]="dateOfOccurence"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>