<ion-header>
  <ion-navbar>
    <ion-title>
      Add a Baby
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onCloseBtnClicked()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSaveBtnClicked()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label fixed>Full Name</ion-label>
      <ion-input type="text" [(ngModel)]="fullname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-option value="boy">Boy</ion-option>
        <ion-option value="girl">Girl</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Birth Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="birthdate"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>