<ion-header>
  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab icon-only (click)="onFeedingBtnClicked()" color="primary">
        <ion-icon name="restaurant"></ion-icon>
      </button>
      <button ion-fab icon-only (click)="onDiaperBtnClicked()" color="primary">
        <ion-icon name="sad"></ion-icon>
      </button>
      <button ion-fab icon-only (click)="onBabyBtnClicked()" color="primary">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-list *ngIf="events">
    <ion-item-sliding *ngFor="let event of events">
      <ion-item>
        <ion-icon *ngIf="event.type == 'feeding'" name="restaurant" item-right></ion-icon>
        <ion-icon *ngIf="event.type == 'diaper'" name="sad" item-right></ion-icon>
        <h2 *ngIf="!event.liquidAmount">{{event.value}}</h2>
        <h2 *ngIf="event.liquidAmount">{{event.value}} ({{ event.liquidAmount }} ml)</h2>
        <p>{{ event.baby.fullname}} | {{ event.timestamp | amCalendar }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="onDeleteBtnClicked(event.id)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>